PROJEKT_V.1.2/bin/Debug/PROJEKT_V.1.2.pdb
PROJEKT_V.1.2/bin/Debug/PROJEKT_V.1.2.vshost.exe
PROJEKT_V.1.2/bin/Debug/PROJEKT_V.1.2.exe
PROJEKT_V.1.2/bin/Debug/PROJEKT_V.1.2.exe.config
PROJEKT_V.1.2/bin/Debug/PROJEKT_V.1.2.vshost.exe.manifest
PROJEKT_V.1.2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PROJEKT_V.1.2/bin/Debug/PROJEKT_V.1.2.vshost.exe.config
PROJEKT_V.1.2/obj/Debug/PROJEKT_V.1.2.csprojResolveAssemblyReference.cache
PROJEKT_V.1.2/obj/Debug/PROJEKT_V._1._2.Properties.Resources.resources
PROJEKT_V.1.2/obj/Debug/PROJEKT_V.1.2.exe
PROJEKT_V.1.2/obj/Debug/PROJEKT_V.1.2.pdb
PROJEKT_V.1.2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PROJEKT_V.1.2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PROJEKT_V.1.2/obj/Debug/PROJEKT_V._1._2.Form1.resources
PROJEKT_V.1.2/obj/Debug/PROJEKT_V.1.2.csproj.FileListAbsolute.txt
PROJEKT_V.1.2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PROJEKT_V.1.2/obj/Debug/PROJEKT_V.1.2.csproj.GenerateResource.Cache
PROJEKT_V.1.2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
